#section-1 {
    /* background-color: salmon; */
    height:100vh;
}

#hero-img{
    width:40vw;
}

#section-2 {
    /* height:100vh; */
    background-color: lightgrey;
}

#footer{
    height:150px;
    background-color: black;
    color:white;
}